<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <br><br>
  <h2>News Tommy Carruthers Seminar Wiltshire May 14/15th 2016</h2>
  <br>
  
  <div class="post">
    
    <p>Here is a link to our facebook event  https://www.facebook.com/events/1784541275107527/
    
    We are currently looking to expand the group in the coming months or if more info is needed for seminar. Please contact me via <a href="mailto:pabrooks@virginmedia.com">pabrooks@virginmedia.com</a> for more details.</p>
  </div>
  
</div>
