<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <br><br>
  <h2>News Tommy Carruthers Seminar Wiltshire March 24/25th 2018</h2>
  <br>
  
  <div class="post">
    
    <p>Here is a link to our facebook event   <a href="https://www.facebook.com/events/1786193864747283/">SW Seminar March 2018 </a>
    
   
    <p>
      IF you're intrested in training with the group in the coming months or if more info is needed for seminar. Please contact me via <a href="mailto:pabrooks@virginmedia.com">pabrooks@virginmedia.com</a> for more details.</p>
  </div>
  
</div>
